# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Node / dependências acidentais
node_modules/
package-lock.json

# Sistema operacional / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
